<!-- views/partials/navbar.handlebars -->

<nav class="navbar navbar-default" style="background-color: #eff2f3;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        Rotten Potatoes
      </a>
    </div>

<div class="pull-right" style="margin-right: 5%;">
    {{#if currentUser}}
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Hello, {{currentUser.username}}
          </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" style="margin-right: 4%;">
          <li><a class="dropdown-item" href="/reviews/new">New Review</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/logout">Logout</a></li>
      </ul>
        {{else}}
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Please Login or Signup
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="margin-right: 4%;">
            <li><a class="dropdown-item" href="/login">Login</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/sign-up">Sign Up</a></li>
          </ul>
        {{/if}}
</div>



  </div>
</nav>

